<a href="https://colab.research.google.com/github/kkhiroki/q_comp_program/blob/main/datframeProcessingTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import time, copy
from functools import partials

In [3]:
def dot(a, p):
  return np.dot(a, p)

In [43]:
def applyDot(df_org, p):
  df = df_org.copy()
  st = time.perf_counter()
  df["dot"] = df.apply(lambda x: dot(x, p), axis=1)
  te = time.perf_counter()
  print("applyDot: " + str(te-st))
  return df

In [24]:
def dotDirty(c1, c2, c3, c4):
  return c1*2 + c2*3 + c3*4 + c4*5

In [44]:
def npVectorizeDot(df_org, p):
  df = df_org.copy()
  st=time.perf_counter()
  df["dot"] = np.vectorize(dotDirty)(df["A"], df["B"], df["C"], df["D"])
  te=time.perf_counter()
  print("npVectorizeDot: " + str(te-st))
  return df

In [45]:
def pdDot(df_org, p):
  df = df_org.copy()
  st=time.perf_counter()
  df["dot"] = df.dot(p)
  te=time.perf_counter()
  print("dfDot: " + str(te-st))
  return df

In [38]:
df = pd.DataFrame(np.random.randint(0,100,size=(500000, 4)), columns=list('ABCD'))
p = [2,3,4,5]

In [46]:
df_apply = applyDot(df, p)

applyDot: 10.848751549000099

In [47]:
df_np = npVectorizeDot(df, p)

npVectorizeDot: 0.19792575200017382

In [49]:
df_pd = pdDot(df, p)

dfDot: 0.014040492000049198

In [56]:
df_apply.tail()

         A   B   C   D  dot
499995  76  70  98  38  944
499996  14  14   1  71  429
499997  25  88  78  50  876
499998  24  23  99  50  763
499999  85  86  68  54  970

In [55]:
df_np.tail()

         A   B   C   D  dot
499995  76  70  98  38  944
499996  14  14   1  71  429
499997  25  88  78  50  876
499998  24  23  99  50  763
499999  85  86  68  54  970

In [54]:
df_pd.tail()

         A   B   C   D  dot
499995  76  70  98  38  944
499996  14  14   1  71  429
499997  25  88  78  50  876
499998  24  23  99  50  763
499999  85  86  68  54  970